
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Ruserdata

# Example code in package build process
*-Ex.R

# Mac directory files
*.DS_Store

# RStudio files
.Rproj.user
*.Rproj.user
*.Rproj

# Local pkgdown files
docs/

# Unit tests
tests/testthat/Rplots.pdf
tests/testthat/test_*.R
tests/testthat/test-*.R

# Vignettes
vignettes/*-pkg.bib
vignettes/*.html
vignettes/*.R
vignettes/fileio
vignettes/resources/*.bib

# Documentation
man/*.Rd
NAMESPACE
NEWS.html
README.html

# Other/Broad
*.html
_tmp/
